.navigation {
    width: 100%;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
}

.navigation-item {
    border: 1px solid #fff;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.navigation-item:hover {
    cursor: pointer;
}

.active {
    background: #fff;
    color: rgb(48, 91, 224);
}